.app {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-bw-400);
}

.boards {
  display: flex;
  flex-flow: wrap;
  gap: var(--gap-medium);
  padding: var(--gap-medium);
  align-items: flex-start;
  align-content: flex-start;
}
